<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<b>Task ...</b>
			</div>
			<div class="panel-body">
				<div class="col-md-0"></div>
				<div class="col-md-10">
					<div id=taskView>
						<script id="taskViewScript" type="text/template">
            
            <h5><b>ATA Category : </b><%= ata %></h5>
            <h5><b>ID : </b><%= id %></h5>
            <h5><b>Qualification : </b><%= qualification %></h5>
            <h5><b>Start Date : </b><%= startDate %></h5>
            <h5><b>End Date : </b><%= endDate %></h5>
            <h5><b>Description :</b> </h5>
                                <p><%= description %></p>
            <h5><b>Periodicity : </b><%= periodicity %></h5>
            <h5><b>Hangar Need : </b><%= hangarNeed %></h5>
			<h5 id="mroSelected" ><b>Mro : </b><%= mro %></h5>
            </script>
					</div>
				</div>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">MRO List</h4>
						</div>
						<div class="modal-body">
							<table id="mroList" class="table table-hover">
								<thead>
									<tr>
										<th>MRO Id</th>
										<th>MRO Name</th>
										<th>Qualification</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<div class="panel-footer">
				<div align="center" id="buttons"></div>
			</div>
		</div>
	</div>
</div>